body{
    background-color: black;
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    opacity: 0.9;
}

/*header section*/
.header{
    position: fixed;
    top: 0px;
    z-index: 2;
    height: 69px;
    background-color: black;
    border-bottom: 1px solid seashell;
    width: 100vw;
    display: inline-flex;
    align-items: center;
}
.logo{
    margin-left: 10px;
    display: flex;
    height: 50px;
}
.navigation{
    display: flex;
    margin-left: auto;
}
ul{
    margin-right: 10px;
}
li{
    display: inline;
    padding: 10px;
}
a{
    color: seashell;
}
a:hover{
    text-decoration: none;
}

/*body*/
.body{
    position: relative;
    top: 45px;
}

/*background image section*/

.banner{
    background-image: url("images/img-mission-background.jpg");
    height: 700px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    text-align: center;
}

.bannertext{
    background-color: black;
    width: 1200px;
}

.text{
    padding: 0px;
    margin: 10px
}

/*tea of the month*/
.tea{
    text-align: center;
    max-width: 1000px;
    margin: 70px auto;
}

.tea-images{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 20px;
}

.caption{
    margin-top: 10px;
    padding: 0;
}

/*location section*/
section{
    max-width: 1200px;
    min-height:500px;
    background-image: url(images/img-locations-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.location{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px 40px;
    flex-wrap: wrap;
}

.box{
    width: 300px;
    background: black;
    text-align: center;
}

.box p{
    line-height: 3;
}

/*contact*/
.contact{
    height: 200px;
    text-align: center;
}

/*footer*/
footer{
    margin-left:20px;
    margin-bottom: 20px;
}

footer h5{
    padding-bottom: 20px;
}